[2019-03-29 06:31] djensen47 opened #1 "i18next style string interpolation causes an error"
If I have a string value that uses i18next interpolation, such as:

`"I am {{author.name}}"`

then I get the following error:

[code]

---

BTW, thanks for building this, it's super useful!

[2019-03-29 06:54] djensen47 commented on #1
Turns out that if I change `{{` to `{` then it works.

[2019-03-29 07:02] djensen47 commented on #1
However, I get the same issue if I'm using i18next nesting `$(key)` or `$({{keyInTheVar}})`

[2019-03-29 10:19] leolabs commented on #1
Hey @djensen47, thanks for the issue!

Could you provide a sample JSON file and the command you used to run json-autotranslate, so I can try to reproduce it on my side? My guess is that the ICU-format parser doesn't like i18next's syntax. I could add a flag to switch between ICU-style and i18next-style interpolation.

[2019-03-29 18:52] djensen47 commented on #1
This is what I have in my file. I don't use the `$t(key)` syntax but I do use the `$t({{keyInTheVar}})` syntax. But you should definitely handle both.

[code]

[2019-04-02 15:02] leolabs commented on #1
I've released a new version that supports ICU as well as i18next and sprintf-style interpolations. You can select the interpolation matcher using the `-m` flag (e.g. `-m i18next` in your case). I'd be happy to hear if this works for you :)

[2019-04-03 08:32] djensen47 commented on #1
For some reason npm install isn't working after the update. Not sure if it's "just me" yet or not.

[2019-04-03 08:33] leolabs commented on #1
Hmm, that's weird. I'll check it on my side as well. Can you provide the npm error you get when you try to run json-autotranslate?

[2019-04-03 08:52] djensen47 commented on #1
[code]

[2019-04-03 08:53] djensen47 commented on #1
I'm running node 8.14.0 but it also happens on 6.

I confirmed that the problem is happening on two different machines.

[2019-04-03 17:08] djensen47 commented on #1
After  I use yarn to install, there's a similar issue. Under node_modules/json-autotranslate there are no source files.

It's like the last push to npm and yarn didn't succeed?

[2019-04-03 17:09] leolabs commented on #1
You were right. The build somehow failed on GitHub Actions. I've fixed that and everything should work as expected again.

[2019-04-03 17:14] djensen47 commented on #1
Works great now. Thanks!

[2019-04-03 17:15] #1 closed

[2019-04-03 17:27] djensen47 opened #2 "Questions"
Sorry, I wasn't sure the best way to send you some questions about the library ...

1. I'm seeing something where a phrase like "Hop Farm" does not get translated but "Hop farm" does get translated properly. I don't really have any proper nouns in my translation file. Is there any way to force the translation to always translate uppercase words?

2. The word "hops" and "hop" is particularly troubl

[2019-04-03 17:52] djensen47 commented on #2
Looks like the answer is no on both of these.

[2019-04-03 17:52] #2 closed

[2019-04-03 17:54] leolabs commented on #2
You're correct. I have no control over how the translation APIs treat the texts. You could try using the DeepL API and see if it returns better results. It'll cost, however, about $5 per month iirc.

[2019-05-27 12:28] NeoLegends opened #3 "Investigate starting from a grammatically complex language to improve pronoun translation precision"
If we have partial strings such as "Registered on {date}" it might be important to know what the argument is in order to select the correct pronoun in other languages. English, however, is a very simple language that doesn't cover the different cases in other languages, so on the part of the translator there is a lot of guess work involved.

Perhaps if we start from a more complex language by defa

[2019-06-30 17:52] djensen47 opened #5 "Add command to change a key"
Every so often I need to change the value of a key. Usually it's a better message or I need to completely change a label. Right now, if I make a change I update the English translation file then delete that key from 14 other language files. It's a bit tedious.

Would would be nice is the ability to re-translate just one key.

I don't want to regenerate all the translation files because I've made s

[2019-06-30 17:58] leolabs commented on #5
Hey @djensen47,
would the `-d` or `--delete-unused-strings` flag do what you need? It deletes all translations that don't exist in the source language anymore.

[2019-06-30 18:12] djensen47 commented on #5
So I would do the following?

1. Delete the key from the source file
2. Run `json-autotranslate` with `-d`
3. Add the key back with a  new value
4. Run `json-autotranslate` again

[2019-06-30 18:22] leolabs commented on #5
You can combine steps 1 and 3, so you just

1. Delete the old key and add the new one
2. Run `json-autotranslate` with the `-d` flag

This will translate the new key and delete the old one from translated files :)

[2019-06-30 18:28] djensen47 commented on #5
I wouldn't be able to do that since it's the same key. I'm updating the value.

For instance, I'm doing something like this:

[code]

[code]

[2019-06-30 18:43] leolabs commented on #5
Ah, I was assuming you were using a Natural Language format. In your case, the process you described would do the job.

[2019-07-08 11:41] leolabs commented on #5
I'll close this ticket for now. If you have any further questions, feel free to re-open it :)

[2019-07-08 11:41] #5 closed

[2019-09-26 03:30] petrchutny opened #6 "Curly brackets inside JSON value throw an error"
Hello,

when I run auto-translate on a JSON file that has this record in it:

`"LABEL_SEQUENCE_STEP": "Step {value:step}",`

it will throw this error:
[code]
When I remove the curly brackets from inside the double quotes, everything is OK.
Trying to escape curly brackets with `\` doesn't work (like this: `"LABEL_SEQUENCE_STEP": "Step \{value:step\}"`
I previously thought it's caused only by curly

[2019-09-26 12:43] leolabs commented on #6
Hey @petrchutny,

thanks for your bug report! Could you tell me which i18n library or syntax you're using your JSON files for?

Colons are not supported by ICU, the default syntax that json-autotranslate uses for matching those variables. That's the reason you're getting the error message.

The matching is necessary for json-autotranslate to replace those fields with placeholders that don't get tr

[2019-09-27 06:00] petrchutny commented on #6
Hi,

thanks for replying. We don't use any particular I18N syntax, it's our own.
As I look at the code now, I see this record: `"LABEL_SEQUENCE_STEP": "Step value: {step}",`, which makes me wonder why there was a colon in the middle of curly brackets before. Maybe I have somehow generated that string wrong, or it's not meant to be like this. I will verify if it works OK when my VPN works, and then

[2019-09-27 08:28] leolabs commented on #6
Alright, tell me if that solves the problem :)

If you absolutely need colons or other special characters in your translation, you can easily write your own matcher. See the [i18next matcher](https://github.com/leolabs/json-autotranslate/blob/master/src/matchers/i18next.ts) for a simple example.

[2019-09-28 05:21] petrchutny commented on #6
Ok, thank you for the useful information, and thanks for making this amazing script :)

—
Petr Chutný
petrchutny.cz
On 27 Sep 2019, 16:28 +0800, Leo Bernard <notifications@github.com>, wrote:

[2019-10-20 17:16] savvakis opened #7 "Google translate | losing interpolations"
Hey @leolabs !

Nice library and thanks for this!
I noticed that upon translating with i18-next format & using google-translate service, the interpolations at the end were not added back after the translation and this is because Google service translates <0 /> <1 /> etc to: `&lt; 0 &gt;` so you are not able to correcty replace them back again. I assume this is probably due to invalid html nodes? M

[2019-10-20 19:30] #6 closed

[2019-10-20 19:34] leolabs commented on #7
Hey @savvakis,

I tried to reproduce your scenario but couldn't get the same issue you experienced. I created a JSON locale file with the following content:

[code]

json-autotranslate translated it from English to German, Spanish, Italian, Polish, Turkish and Japanese and it all worked flawlessly. For the translation, I used the following command:

[code]

Could you try to create a minimal reprod

[2019-10-20 19:59] leolabs commented on #7
Quick update, I noticed some regex in the i18next matcher was not correct, so I fixed that in 7e8c881. I don't know if that'd fix your problem though.

[2019-10-21 16:16] savvakis commented on #7
Hey @leolabs ,

im using:
`json-autotranslate -t key-based -i app/locales -m i18next -s google-translate -l en`
i was not able to reproduce it outside my project which means that this might be sth else but again looks weird. Sorry i don't have more time to test it.

All i know is that i can always reproduce it in my project. Looks like some kind of encoding issue.
Never mind, in case someone else

[2019-10-22 13:36] leolabs commented on #7
Thanks for the feedback! Does the problem you're describing happen for every translated string or are there just some specific strings where the result is faulty?

[2019-10-30 06:46] petrchutny opened #8 "Feature suggestion: Translating updated strings again"
Hello,

thanks for making this amazing script. It helps us greatly to save so much time translating at [Tinkamo](https://tinkamo.com). I know this might be a big idea requiring more coding, but what do you think about the functionality of being able to detect whether a source string has changed and translating it again?
What do you think about it? :)

[2019-11-04 15:53] leolabs commented on #8
Hey @petrchutny,

thanks for your feedback! It's awesome to see this tool being used in real-world products!

I'm guessing that you're using key-based translation, like:

[code]

To be able to detect changes, json-autotranslate would need to keep a kind of cache folder containing the latest translated version of files and compare them to the current ones.

This feature has already kind of been req

[2019-11-07 03:55] petrchutny commented on #8
Thanks for your reply :) Yes, we’re using it for key-based translation. That’s great that you’re up for doing it! Your idea with the warnings is also very good.

All the best & thanks,

—
Petr Chutný
petrchutny.cz
On 4 Nov 2019, 23:53 +0800, Leo Bernard <notifications@github.com>, wrote:

[2019-11-08 22:13] leolabs commented on #8
I've implemented this in v1.5.0, check it out if you like :)

[2019-11-19 20:07] cs-NET commented on #8
So the cache folder should be kept as part of source control? I ignored it as I assumed it was temp folder, make sense now that I read this.

[2019-11-19 20:39] cs-NET opened #14 "Windows file formats UTF-8-BOM (CR LF)"
Ran into an issue running json-autotranslate for the second time on Windows platform. It appears that when reading the files from the cache folder an exception will be thrown parsing JSON if the files are not UTF-8 with Unix (LF) EOL. In my case one of the files was UTF-8-BOM with Windows (CR LF) EOL, I assume that the file format is carried over from the original file. (I happen to auto generate

[2019-11-20 08:59] leolabs commented on #8
Ah, yes :)
Maybe calling it `.json-autotranslate-cache` was not the best idea. Do you have a better name in mind that would suggest it should be part of source control?

[2019-11-22 20:50] cs-NET commented on #8
Hmm .json-autotranslate-history

[2019-11-27 13:05] leolabs commented on #14
Hey, sorry for the late reply. I'll try to fix that issue today. Could you attach a sample JSON file where this error occurs so that I can reproduce the issue on my end? :)

[2019-11-27 16:02] cs-NET commented on #14
I have attached a json file in utf-8-bom with cr lf

[windows-utf-8-bom-cr-lf.zip](https://github.com/leolabs/json-autotranslate/files/3897662/windows-utf-8-bom-cr-lf.zip)

[2019-12-25 18:29] leolabs commented on #14
This should be fixed in c45a44b :)

[2019-12-25 18:29] #14 closed

[2020-03-19 04:00] jammind opened #17 "Feature wanted: Add new languages not supported by Google Translate"
Hi,

I want to tell you that json-autotranslate works like charm! I really enjoy it. Recently I have encountered a problem.

I already have my JSON translated into Quechua (Peru Spanish). But it keeps saying "Translation doesn't support pe. Skipping this language." Neither auto-translation nor manual works. I hope it can support languages out of Google Translate's scope. Once I have the folder and

[2020-03-19 13:19] leolabs commented on #17
Hey @jammind,

could you elaborate on which behavior you'd expect from json-autotranslate in your scenario? I've tried recreating the problem and json-autotranslate translates all other languages just fine, not touching the files that are in unsupported language folders.

[2020-03-19 15:09] leolabs commented on #17
I've made a small improvement that may enable the behavior that you're expecting. The dry-run and manual services now don't check languages anymore and thus support any language code you give them. Change is in a0c6f95. Does this solve your problem? :)

[2020-03-31 13:27] onionhammer commented on #17
I'm also having an issue where it doesnt support 'fil' for filipino - would this resolve this issue?

[2020-04-01 07:45] leolabs commented on #17
That should solve it, as long as the translation service you chose supports the language :)

[2020-04-01 17:40] onionhammer commented on #17
No such luck.. "🙈 Google Translate doesn't support fil. Skipping this language." No sure why though, since google translate definitely does support filipino. Sorry to muddy this issue

[2020-04-01 18:57] leolabs commented on #17
Hey @onionhammer,
when you go to the [Google Translate](https://translate.google.com/#view=home&op=translate&sl=en&tl=tl) website and select Filipino, you'll see that its language code is `tl` in the URL parameters. Could you try it with that one and see if it works? :)

[2020-04-09 03:51] jammind commented on #17
Thanks for the quick response. I have updated json-autotranslate to 1.5.4, but I still get this error:
Google Translate doesn't support "pe". Skipping this language. "pe" here means Peru Espania, which is an ISO locale code.
![image](https://user-images.githubusercontent.com/2723305/78856121-6a753b80-7a58-11ea-88da-d08e54a61b87.png)

[2020-04-09 05:55] melonpandev opened #18 "Unable to translate to traditional chinese with Google translate."
According to [this page](https://cloud.google.com/translate/docs/languages) traditional Chinese is supported in the Google translate API.

So in theory with a folder named zh-TW it should give a translation.
![image](https://user-images.githubusercontent.com/20312733/78862189-1da25c80-7a7a-11ea-8a52-e9fc94b36683.png)

When using a folder named zh-tw, it gives a error that indicates an invalid lang

[2020-04-09 08:57] leolabs commented on #18
I'll have a look at that today. It seems that the language codes are case-sensitive, so I'll have to convert them from `zh-tw` to `zh-TW`. Should be easy to do.

[2020-04-09 15:29] leolabs commented on #17
Hey, @jammind!
That warning makes sense since `pe` is not supported by Google Translate. All other languages should be automatically translated and the `pe` folder should be left as-is. You can translate it manually if you need it :)

Can you confirm that this is the behavior you're experiencing and elaborate on how you'd expect json-autotranslate to behave in that situation?

[2020-04-09 15:58] #18 closed

[2020-04-10 01:56] jammind commented on #17
Indeed. It works like charm! Thank you @leolabs

[2020-04-14 18:20] onionhammer opened #19 "Support azure translator service?"
The API reference is here:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference

If ya'll are open to it I could probably implement it in a PR

[2020-04-15 11:52] leolabs commented on #19
Fixed in #20

[2020-04-15 11:52] #19 closed

[2020-04-15 14:10] #17 closed

[2020-04-15 14:16] leolabs commented on #7
I just replaced the default `<0 />` syntax with a span tag (`<span>0</span>`). This seems to solve most problems. However, different translation services behave differently here.

I'll close this issue for now, but please feel free to re-open it should you experience those problems again :)

[2020-04-15 14:16] #7 closed

[2020-04-27 20:09] pgmade opened #22 "Some problem"
After install i have some problem:

![Снимок экрана 2020-04-27 в 23 08 07](https://user-images.githubusercontent.com/9200326/80415976-02d64180-88dc-11ea-8395-8cd99a098497.png)

Can you tell me what the problem is?

[2020-04-27 22:51] leolabs commented on #22
Hey @pgmade,
as stated in the error message, json-autotranslate can't find the folder that contains your source language files. The default source language is `en` and can be changed using the `-l` flag. If you don't specify an input directory using the `-i` flag, the tool looks for the `en` folder in the current working directory.

Please consult the [README](https://github.com/leolabs/json-autot

[2020-06-05 06:18] gtconsulting opened #23 "i18next - Interpolation throwing partial errors"
@leolabs  It seems there are some issues in supporting the interpolations. It's working well in some places but it's considering for translations at some other places. It's completely random. Find the example here.

I have a key: value like this -> "title": "{{underlying_asset}}-{{quoting_asset}} Index"

After converting it to Arabic, the result is: "title": "\<span\>\<span\>0-1\</span\>\</span\>

[2020-06-06 14:25] leolabs commented on #23
Hey @gtconsulting,

that sounds like a bug, it shouldn't happen that way. Could you clarify which service you're using for translation? I'll take a look into it then :)

[2020-06-08 05:16] gtconsulting commented on #23
@leolabs  Thanks for the quick response. I am using the default service. google-translate

[2020-06-13 07:17] gtconsulting commented on #23
@leolabs  Any update on this?

[2020-07-15 19:17] alexandrehpiva commented on #23
Same problem here. Im using i18next and the interpolation is with two curly braces:

`{
  "example": "Example {{number}}"
}`

I'm trying to use manual translations and running:

`json-autotranslate -i public/locales -s manual --type keybased`

i get: "Expected identifier but "{" found."

[2020-07-15 20:03] leolabs commented on #23
@alexandrehpiva in your case, you just need to add the `-m i18next` flag to your command so json-autotranslate to make it work :)

[2020-07-16 22:32] alexandrehpiva commented on #23
Thx man, very nice lib

[2020-07-25 21:54] alexandrehpiva opened #25 "Update cache with already translated key-value pairs"
I'm migrating from intl to i18next and using json-autotranslate to add new translations. When i run script to generate new translations:

`json-autotranslate -i public/locales -s manual --type keybased -l en`

It asking for the already existing key-value pairs in all files (the cache is not updated, i think).

There is a way to update cache with already translated key-value pairs in all files?

Id

[2020-07-26 19:10] leolabs commented on #25
Hmm, that shouldn't happen either way. I'll take a look at it tomorrow :)

[2020-09-18 06:19] ultamatt opened #30 "Azure requires region"
Tried this great library out with Azure and they need a region. I monkied with the js on my node_module and it works by adding the extra header item.

https://github.com/leolabs/json-autotranslate/blob/0fd6d1c1c91e079b1cb6ac21666fba9acbd99559/src/services/azure-translator.ts#L81

https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference#authenticating-with-a-reg

[2020-09-23 09:00] leolabs commented on #30
Thanks for the report, @ultamatt!

I'll add it in this week :)

[2020-09-27 18:08] #30 closed

[2020-09-28 12:19] leolabs commented on #30
Thank you so much for the donation 💙

[2020-09-28 22:25] leolabs commented on #22
I'll close this one as inactive.

[2020-09-28 22:25] #22 closed

[2020-10-05 06:12] techmastersri opened #32 "source language en doesnt exist"
I created the directory localed added subfolders of languages I want to translate en to, inside en folder I have my source json file that needs translating, I'm using deepl which I did signed up with

![image](https://user-images.githubusercontent.com/17889431/95045483-5de83d80-069f-11eb-81e7-f34db33c5187.png)

[2020-10-05 08:42] leolabs commented on #32
Hey @techmastersri,

could you post the command you used to run json-autotranslate? If you do, you can replace your API key with a placeholder. My guess is that json-autotranslate is looking for language folders in the wrong directory.

[2020-10-28 12:43] pontusab opened #33 "Not all keys are translated"
Thanks for an amazing tool!

The only problem I have is that not all keys are translated but available in `en`. In `es` for example, only 10/40 files are translated.

My command looks like this:
`json-autotranslate -i src/locales -d -c service-account.json -m i18next -t natural -f`

File structure:
<img width="251" alt="Screenshot 2020-10-28 at 13 47 03" src="https://user-images.githubusercontent.

[2020-10-28 12:54] pontusab commented on #33
<img width="478" alt="Screenshot 2020-10-28 at 13 54 19" src="https://user-images.githubusercontent.com/655158/97438442-18790200-1925-11eb-8c90-89bf3194ca24.png">

Just noticed this tho, guess it's related?

[2020-10-28 13:06] pontusab commented on #33
Solved, now I understand. Use `Key-Based` and seems to require all keys in uppercase.

Thanks!

[2020-10-28 13:06] #33 closed

[2020-11-01 18:30] fkirc opened #34 "attranslate - A rewrite of json-autotranslate"
First of all, thank you for writing `json-autotranslate` :+1:
 `json-autotranslate` worked great for all my i18next-projects :sunglasses:

Nevertheless, I came to the conclusion that a complete rewrite of `json-autotranslate` is appropriate.
The resulting rewrite is `attranslate`: https://github.com/fkirc/attranslate
`attranslate` addresses the following features  that I was missing in JSON-autotr

[2020-11-01 18:44] fkirc commented on #8
For `attranslate`, I called it `attranslate-cache` instead of `.json-autotranslate-cache`.
Keeping this cache in source control is not strictly required, but highly recommended.

One thing that I am not yet sure about is the number of required caches.
For `attranslate`, once cache per source-file is sufficient.
However, in future versions of `attranslate`, this might be changed to "one cache per s

[2020-12-24 20:04] kernelogic opened #37 "Does not translate to French."
I ran command json-autotranslate -f -i locales -m i18next -c .\grand-store-292020-1d6d5dbdee41.json and this is what I got.
My french json has all keys but no values.

Found 1 target language(s):
-> fr

🏭 Loading source files...
├── translation.json (natural)
└── Done

🔍 Looking for key-value inconsistencies in source files...
└── No inconsistencies found

🔍 Looking for invalid keys in source file

[2020-12-24 20:15] kernelogic commented on #37
I just tried manual too, seems it does not recognize any key

json-autotranslate -f -l en -s manual -i locales -m i18next -t natural
Found 1 target language(s):
-> fr

🏭 Loading source files...
├── translation.json (natural)
└── Done

✨ Initializing Manual Translation...
└── Done

🔍 Looking for key-value inconsistencies in source files...
└── No inconsistencies found

🔍 Looking for invalid keys in

[2020-12-26 16:09] leolabs commented on #37
Thanks for the bug report! Could you show me what your `en` folder looks like? I've been trying to reproduce it on my side, but everything seems to work as expected.

[2020-12-26 19:57] kernelogic commented on #37
Hi, so I have the following structure:
locales/en/translation.json
locales/fr/translation.json

Initially the two json files have identical content:
{
  "Please try it again later.": ""
}

After I run the command, locales/en/translation.json content becomes
{
  "Please try it again later.": "Please try it again later."
}
Which is correct. However the locales/fr/translation.json remain as
{
  "Plea

[2020-12-26 21:21] leolabs commented on #37
Ah, I think there lies the problem. When you remove the key from the file in `fr`, or remove the file altogether, it should work as expected. This tool won't touch existing keys because it doesn't know whether you've already modified the translation yourself :)

[2020-12-26 22:34] kernelogic commented on #37
Aha thank you so much. That saved my day.
After I replace the french translation.json with an empty {} it worked!

[2020-12-26 22:34] #37 closed

[2020-12-26 22:51] leolabs commented on #37
Awesome, that's good to hear! Feel free to let me know if you have any other issues or questions regarding json-autotranslate :)

[2021-03-27 14:46] sr258 opened #40 "Release new version"
Hi, great tool! I was a bit confused at first that the NPM version isn't the same as the master on GitHub. It would be great if you could release a new version!

[2021-03-27 14:53] sr258 opened #41 "Google Translator oddities"
When using the tool with Google Translator and i18next interpolation (using {{placeholder}}), there are cases in which google translate put strings into the <span>0</span> tag passed to Google Translate.

Example: Google translate returns
``
Det uppstod ett fel när filen <span>0 skulle</span> raderas från innehållsobjektet.
``
instead of

``Det uppstod ett fel när filen <span>0</span> raderas från

[2021-03-27 19:41] leolabs commented on #41
Hey @sr258!

Thanks so much for looking into this! I've gotten a similar request for the Azur Translator that also included a `translate="no"` fix suggestion, so it should be fine. Regarding the escaping of characters, does this happen consistently? If so, I'd just enable decoding for responses from Google.

Best,
Leo

[2021-04-03 19:07] sr258 commented on #32
This might be late, but maybe someone else benefits from it: Possibly, you execute the program with `npm start --your-options...`. It should be `npm start -- --your-options`.

[2021-04-04 14:12] leolabs commented on #32
Thanks, that's a good tip! :)

[2021-04-07 16:55] #41 closed

[2021-04-07 16:56] #40 closed

[2021-05-03 08:01] bmikaeli opened #45 "Doesn't work with the new "DeepL Free plan""
Looks like the API endpoint need to be changed from

var API_ENDPOINT = 'https://api.deepl.com/v2';
to
var API_ENDPOINT = 'https://api-free.deepl.com/v2';

when using a free plan.

(I guess that's a new plan on deepL, I didn't saw it before )

maybe we should have a service "deepl-pro" or "deepl-free" ?

[2021-05-03 08:20] leolabs commented on #45
That sounds like a good idea! Is this something you'd like to implement or do you want me to take a look at it? :)

[2021-05-05 09:39] bmikaeli commented on #45
I'm not sure to have the time to do it right now, if you can have to have a look, go for it !

It's not urgent at all, I just thought it was something you would like to be informed :)

[2021-05-07 15:32] ultamatt opened #46 "When files do not exist in 'destination' language, vague error is thrown"
Line 388 here will error with a vague '.name doesn't exist' error when I have a 'help.json' file in my 'en' directory, but 'help.json' does not exist in my de directory.

![image](https://user-images.githubusercontent.com/2548904/117473320-ae15cf80-af0e-11eb-8d0c-60b212a50152.png)

After looking through your source, I understood what was going on and made those files by hand, but a clearer error m

[2021-05-26 13:01] sostenesg7 commented on #46
I'm facing the same problem. The workaround is create all target lang files manually

[2021-05-26 15:59] leolabs commented on #46
Sorry for the late reply! This shouldn't happen, I'll look into it tonight and see if I can fix it. There's also #48 which could be the solution to this issue.

[2021-05-27 14:50] GregoryWullimann opened #49 "Support for DeepL Free API"
Hi,

it looks like only the Pro DeepL version is supported, since the API request is made to the PRO endpoint. Could you add a parameter to support the free version as well (without Pro you have 500'000 characters/month).

Example to get all languages: `https://api-free.deepl.com/v2/languages` instead of `https://api.deepl.com/v2/languages`

https://github.com/leolabs/json-autotranslate/blob/d8d7a

[2021-05-31 22:26] leolabs commented on #49
Thanks for your feature request! The same was also requested in #45. I'll see if I can implement it this week :)

[2021-06-01 07:51] GregoryWullimann commented on #49
Oh sorry, don't know how I missed it! Will close this issue then.

Thanks

[2021-06-01 07:51] #49 closed

[2021-06-01 08:00] leolabs commented on #49
No worries :)

[2021-06-07 14:05] leolabs commented on #45
This was implemented in #50 :)

[2021-06-07 14:05] #45 closed

[2021-07-01 13:59] hackerkid opened #51 "Variable placeholders getting corrupted while usinh Google translate API"
@leolabs Thanks for building this. This is a fantastic tool with excellent documentation and made my life a lot easier.

But I did face an issue while using this tool.

So I was trying to translate the strings without arabic translations in the following for fixing https://github.com/zulip/zulip/issues/18933.

https://github.com/zulip/zulip/blob/05352f417a8f163ee8bda1fc1593875c432c5297/locale/ar/t

[2021-07-07 14:58] alexandrehpiva commented on #25
It is not asking for the already existing key-value pairs anymore. Some pull requests must have fixed. Thanks!

[2021-07-07 14:58] #25 closed

[2021-07-11 11:57] leolabs commented on #51
It looks like the placeholders aren't in the right format. This tool works either with ICU/i18next placeholders like `{email}` or with sprintf-style placeholders like `%s`. I could implement a new matcher that matches placeholders like `__email__`, but I haven't seen any library that uses them like that. Which library are you using for your translations?

[2021-07-11 11:58] #3 closed

[2021-07-11 11:58] #32 closed

[2021-07-11 11:58] #23 closed

[2021-07-11 13:18] #46 closed

[2021-07-11 19:44] sr258 opened #52 "Translations written to en.json"
So far json-autotranslate has always worked fine for me. I now suddenly get a weird error: When I run it, it translated as expected but all changes are written into en.json and not the actual locales.

I start it like this:
`json-autotranslate -d --directory-structure ngx-translate -c google_translate.json -s google-translate --decode-escapes -t key-based -i locales/lumi -m i18next`

The logs show

[2021-07-11 21:37] leolabs commented on #52
Hey Sebastian! Could you check whether this happens on older versions as well? If so, maybe Google's API has changed, otherwise that sounds like a bug :)

[2021-07-12 05:21] sr258 commented on #52
I've tried it with 1.8.0 and there everything works fine. With 1.9.0 I get the bug.

[2021-07-15 12:02] wontem opened #53 "zh-CN and zh-TW are not supported"
Google Translate service doesn't support Chinese. It seems it's connected with the letter case.

[code]

During debugging I found that `supportedLanguages` from the service contains `zh-cn, zh-tw` in lowercase.
https://github.com/leolabs/json-autotranslate/blob/a1c14200cc6773d3f5396ff5fc21523784ae5068/src/services/google-translate.ts#L18

[2021-07-18 15:08] leolabs commented on #53
Thanks for your report! I've pushed an update that should fix this issue :)

[2021-07-18 15:08] #53 closed

[2021-07-18 15:12] leolabs commented on #52
I've reverted the change in v1.9.2, it should work as expected again now :)

[2021-07-18 15:12] #52 closed

[2021-09-27 18:09] Marc-Hoch opened #54 "DeepL formality"
Is it possible to add the formality parameter to the deepL API?

More information for this parameter find [here](https://www.deepl.com/de/docs-api/translating-text/)

Sets whether the translated text should lean towards formal or informal language. This feature currently only works for target languages "DE" (German), "FR" (French), "IT" (Italian), "ES" (Spanish), "NL" (Dutch), "PL" (Polish), "PT-P

[2021-10-01 16:20] leolabs commented on #54
That's a good idea! I think I can get around to implementing it during the next week. If you like, you can also take a shot at implementing it yourself, the code for the translators is quite straight-forward :)

[2021-10-01 16:51] Marc-Hoch commented on #54
#55 I just created a pull request

[2022-01-25 11:56] zeljkocurcic opened #57 "i18next plurals"
Hi @leolabs, first, thank you for this wonderful library, it is really useful for projects that are translated into multiple languages. We are using plurals in our i18next project, something like this:

English:
[code]
Polish:
[code]

As you can see, Polish has different plural forms. When I ran json-autotranslate with -d, it removed all these and added the key with _other as the last entry under

[2022-01-28 11:23] leolabs commented on #57
Hmm, that's a good question. JSON Autotranslate doesn't have any specific behavior when it comes to plurals. Adding the "_few" and "_many" keys to the English source file could work, although I guess it adds a bit of redundant content since these aren't actually needed in English.

[2022-01-28 11:56] zeljkocurcic commented on #57
This could be a workaround. It's not ideal, though, since we have 15ish languages and this form is used only in a few

[2022-01-31 16:00] leolabs commented on #57
Yeah, that's a valid concern. Do you have an idea for how JSON Autotranslate could be improved to accomodate for this situation?

[2022-02-03 13:07] zeljkocurcic commented on #57
I haven't actually looked at the code, but I guess we could use i18next's plural resolver when we see a key has plural forms in the default language: https://github.com/i18next/i18next/blob/master/src/PluralResolver.js

But what to do with other translation engines supported by json-autotranslate?

[2022-03-22 14:04] kerac2002 opened #60 "Error empty other language directory"
When I tried to use it with:

json-autotranslate -i locales --config google_key.json -s google-translate

and I let the fr and de language directories empty I had the following error:

An error has occurred:
Cannot read property 'name' of undefined
TypeError: Cannot read property 'name' of undefined
    at /Users/catalin/node_modules/json-autotranslate/lib/index.js:390:141
    at step (/Users/cata

[2022-03-22 15:25] saikarthikp9 opened #61 "Cannot read properties of undefined (reading 'name')"
As per the package instructions, we just need to create the language folder and this package will create translation files in the folder.

I used this command:
[code]

error log:
[code]

If I create the placeholder JSON files inside the language folder, with an empty JSON ({}), it creates the translations successfully.

Any ideas why I see this behavior?

[2022-03-25 08:51] leolabs commented on #60
This is fixed in #62 and published in v1.10.1 :)

[2022-03-25 08:51] #60 closed

[2022-03-25 08:51] leolabs commented on #61
This is fixed in #62 and published in v1.10.1 :)

[2022-03-25 08:51] #61 closed

[2022-04-13 12:25] thagxt opened #64 "The source language en doesn't exist."
I'm having troubles running this.

When I run `npx json-autotranslate`

I get this error:

[code]

I also get the same error when using yarn `yarn json-autotranslate`

[code]

## I'm trying to use it with `deepl-free`

can you please show me a command to make it run with `deepl-free` with translation files inside the `locales` directory `en.default.json`

[2022-04-13 13:16] leolabs commented on #64
json-autotranslate expects the locales directory to have one subdirectory per language. So instead of `locales/en.default.json`, your source file would need to be located at `locales/en/default.json`.

You can then run the tool with `yarn json-autotranslate -i locales -s deepl-free -c <your API key>`

I hope this helps :)

[2022-04-14 08:31] thagxt commented on #64
Thanks a ton @leolabs for the clarification! That worked.

I've another problem/question...

My JSON is "heavily" indented...

example:
[code]

when I try to run this thru json-autotranslate, I get a:

[code]

I suppose `json-autotranslate` isn't able to work with files that are indented that much, is that right? Is there anything I can do to make it work?

Thanks again.

[2022-04-17 21:07] leolabs commented on #64
The tool should have no issues working with deeply-nested JSON objects, but the error message suggests that the matcher expects variables to be defined as `{variable}` in the text. If you define your variables as `{{variable}}`, then you might want to switch to i18next's matcher by adding `-m i18next` to your command.

I hope this helps :)

[2022-04-18 02:07] thagxt commented on #64
Yes, adding `-m i18next` worked perfectly. Thank you very much for the help @leolabs.

[2022-04-18 08:09] leolabs commented on #64
Glad I could help :)

[2022-04-18 08:09] #64 closed

[2022-06-05 16:21] johnfelipe opened #67 "i want use azure service"
root@ubuntu21:~/json-autotranslate# npx json-autotranslate

	An error has occurred:
	The source language en doesn't exist.
	Error: The source language en doesn't exist.
		at /root/json-autotranslate/node_modules/json-autotranslate/lib/index.js:129:31
		at step (/root/json-autotranslate/node_modules/json-autotranslate/lib/index.js:68:23)
		at Object.next (/root/json-autotranslate/node_modules/json-

[2022-06-05 16:38] johnfelipe commented on #67
root@ubuntu21:~/json-autotranslate# npx json-autotranslate -i /root/json-autotranslate/src/locales/i18n -s azure -c xxxxxxxxxxxxxxxxxxx
	Found 0 target language(s):
	->

	🏭 Loading source files...
	├── admin.json (key-based)
	├── common.json (key-based)
	├── editor.json (key-based)
	├── social.json (key-based)
	├── user.json (key-based)
	└── Done

	✨ Initializing Azure...
	└── Done

	🔍 Looking for

[2022-06-05 17:06] johnfelipe commented on #67
root@ubuntu21:~/json-autotranslate# npx json-autotranslate -i locales -s azure -c xxxxxx -m i18next
	Found 1 target language(s):
	-> fr

	🏭 Loading source files...
	├── admin.json (key-based)
	├── common.json (key-based)
	├── editor.json (key-based)
	├── social.json (key-based)
	├── user.json (key-based)
	└── Done

	✨ Initializing Azure...
	└── Done

	🔍 Looking for key-value inconsistencies in sou

[2022-06-05 17:11] leolabs commented on #67
Hey @johnfelipe,

I haven't used Azure in a while, but you might have to specify a region in addition to the API key, e.g. `-c xxxxxxxxx,eastus`

Let me know if this works :)

[2022-06-05 17:13] johnfelipe commented on #67
root@ubuntu21:~/json-autotranslate# npx json-autotranslate -i locales -s azure -c xxxxxxxx,eastus -m i18next
	Found 1 target language(s):
	-> fr

	🏭 Loading source files...
	├── admin.json (key-based)
	├── common.json (key-based)
	├── editor.json (key-based)
	├── social.json (key-based)
	├── user.json (key-based)
	└── Done

	✨ Initializing Azure...
	└── Done

	🔍 Looking for key-value inconsistenci

[2022-06-05 17:13] #67 closed

[2022-06-05 17:13] leolabs commented on #67
Perfect, you're welcome!

[2022-06-05 17:14] johnfelipe opened #68 "how can create al locales i18n folders?"

[2022-06-05 17:40] johnfelipe commented on #68
cd locales/
	mkdir -p af sq ar eu bg be ca hr cs da nl eo et fo fi fr gl de el iw hu is Eskimo ga it ja ko lv lt mk mt no pl pt ro ru gd sr sr sk sl es sv tr uk

and next

	root@ubuntu21:~/json-autotranslate/locales# npx json-autotranslate -i locales -s azure -c xxxxxxxxx,eastus -m i18next

	An error has occurred:
	ENOENT: no such file or directory, scandir '/root/json-autotranslate/locales/locale

[2022-06-05 17:50] johnfelipe commented on #68
root@ubuntu21:~/json-autotranslate# cd locales/
	root@ubuntu21:~/json-autotranslate/locales# mkdir -p af sq ar eu bg be ca hr cs da nl eo et fo fi fr gl de el iw hu is Eskimo ga it ja ko lv lt mk mt no pl pt ro ru gd sr sr sk sl es sv tr uk
	root@ubuntu21:~/json-autotranslate/locales# cd ..
	root@ubuntu21:~/json-autotranslate# npx json-autotranslate -i locales -s azure -c xxxxxxxxxxx,eastus -m i18

[2022-06-06 23:45] johnfelipe opened #69 "can u create md-autotranslate / xml-autotranslate / html-autotranslate?"

[2022-06-07 14:35] leolabs commented on #69
I don't think I'll have the time to do this, but feel free to fork this repo and create it yourself :)

[2022-06-07 14:35] #69 closed

[2022-06-07 20:31] johnfelipe opened #70 "issue with type of json with azure"
[messages.zip](https://github.com/leolabs/json-autotranslate/files/8856398/messages.zip)

	Found 1 target language(s):
	-> es

	🏭 Loading source files...
	├── helper-messages.json (key-based)
	├── messages.json (key-based)
	└── Done

	✨ Initializing Azure...
	└── Done

	🔍 Looking for key-value inconsistencies in source files...
	└── No inconsistencies found

	🔍 Looking for invalid keys in source f

[2022-06-09 08:46] leolabs commented on #68
Currently, json-autotranslate doesn't have support for handling this, but you should be able to just run the command multiple times because it will skip the items you already translated :)

[2022-06-09 22:13] johnfelipe commented on #70
@leolabs r u there?

[2022-06-10 15:47] johnfelipe commented on #70
That would be great

El vie, 10 de jun. de 2022, 9:57 a. m., Leo Bernard <
***@***.***> escribió:

[2022-06-10 19:18] johnfelipe commented on #70
remember im using Azure not DeepL

[2022-06-10 22:25] leolabs commented on #70
Ah, the update I pushed was not related to this issue. I think I can take a deeper look at it on Sunday.

[2022-06-10 22:27] johnfelipe commented on #70
dear may be i can help you, show me how update and wil send you PR, i need this ASAP for academic job, pls

[2022-06-13 13:23] johnfelipe commented on #70
Hi dear can u help me for azure?

[2022-06-16 00:57] johnfelipe commented on #70
Help pls with azure engine

[2022-06-18 02:10] johnfelipe opened #72 "issue with google translate"
[code]
source json files here:

https://github.com/KnowageLabs/Knowage-Server/tree/master/knowage-vue/src/i18n/en_US

pls help me to solve this

[2022-06-22 18:11] johnfelipe commented on #72
hi my dear, pls help me with that json files

[2022-06-22 18:12] johnfelipe commented on #70
sorry for persistent. pls help me for solve that json formats and with azure engine

[2022-06-30 17:44] sr258 opened #74 "Some dependencies should be devDependencies"
I have json-autotranslate in the devDependencies of my project and when I install my project I get a deprecation warning from tslint. That's why I've checked where it's from and it's a dependency of json-autotranslate. The dependencies referenced in package.json could be cleaned up so that the dependencies only include those that are really required on runtime (so that they aren't added to other p

[2022-07-01 02:13] johnfelipe commented on #70
Hi dear, busy?
Pls help me about Json file missed ...

[2022-07-01 16:35] leolabs commented on #74
Good catch! This should be a quick fix, I'll try to get it done this weekend.

[2022-07-04 12:50] HaasStefan opened #75 "DeepL Target Language Support"
Please support more target languages like
"HR",
"SR",
...

[2022-07-07 10:12] leolabs commented on #75
JSON Autotranslate supports all languages that DeepL supports. Currently, that's the following:

- bg
- zh
- cs
- da
- nl
- en
- et
- fi
- fr
- de
- el
- hu
- id
- it
- ja
- lv
- lt
- pl
- pt
- ro
- ru
- sk
- sl
- es
- sv
- tr

If you want support for more languages, you could try out Google Translate :)

[2022-07-08 13:59] johnfelipe commented on #70
hi dear, i pull latest version and json format is actual bad translation

[2022-07-15 14:56] johnfelipe commented on #70
anyone?

[2022-07-29 11:01] johnfelipe commented on #70
Dear pls update asap

[2022-08-02 17:24] johnfelipe opened #76 "how solve this issue about new type of json for autotranslate?"
https://gist.github.com/ab1bc793fd801ebf3c125520229f0584

[code]

[2022-08-02 17:32] johnfelipe commented on #70
hi dear, any progress?

[2022-08-02 22:28] leolabs commented on #70
Hey @johnfelipe,

Unfortunately I haven't found the time to work on this yet. I can't promise a timeframe since the project is just a side project and my weeks are quite full at the moment, but I'll let you know when a new release is available.

[2022-08-03 17:55] johnfelipe opened #77 "REQUEST: XML, YML, JS autotranslate"
i hope have you a little of my time for create version for xml, yml and js instead json
Greetings

[2022-08-05 07:57] leolabs commented on #77
Unfortunately, I don't think I'll find the time to do this, but maybe there are alternative tools out there that can do what you need.

[2022-08-05 09:31] johnfelipe commented on #77
Can u referred?

El vie, 5 de ago. de 2022, 2:57 a. m., Leo Bernard ***@***.***>
escribió:

[2022-08-05 09:57] leolabs commented on #77
This might do what you need: https://github.com/fkirc/attranslate

[2022-08-05 09:57] #77 closed

[2022-08-05 14:23] johnfelipe commented on #77
attranslate --srcFile=i18n/en.json --srcLng=en --srcFormat=nested-json
--targetFile=i18n/es.json --targetLng=es --targetFormat=nested-json
--service=google-translate
--serviceConfig=traducciones-352415-79659df1c6f1.json

waw your suggestion was great using google, tnks

but pls update your app for use watson IBM, because attranslate havent...

El vie, 5 ago 2022 a las 4:58, Leo Bernard ***@***.***

[2022-09-05 09:31] jammind opened #78 "Throws error with double-brackets "{{" "}}" in json"
I need to translate strings with {{ }}, which is a nesting variable symbol of the popular [i18next](https://react.i18next.com/latest/trans-component) library. Here is an example.

`  "KEY": "Words {{var1}} words {{var2}}",`

While single { } works just fine, {{ }} throws below error

[code]

I have to manually replace {{ }} to << >> and reverse it before / after using json-autotranslate. Please fi

[2022-09-05 10:21] leolabs commented on #78
Hey @jammind,

If you're using i18next syntax, you have to set a flag in json-autotranslate: `-m i18next`. This should fix your issue.

[2022-09-05 10:29] jammind commented on #78
It seems I haven't read the update notes. You are truly amazing!!

[2022-09-05 10:53] leolabs commented on #78
Glad I could help! :)

[2022-09-05 10:53] #78 closed

[2022-10-11 08:59] johnfelipe commented on #70
Dear can u update for azure, pls

El vie, 10 de jun. de 2022, 5:26 p. m., Leo Bernard <
***@***.***> escribió:

[2022-11-07 12:50] jaspisus opened #79 "How to pass Google Translate API key in --config"
I'm running the command: npx json-autotranslate --type keybased --matcher i18next --input locales --config locales/key.json

and I'm getting an error: "key must be a string, a buffer or an object". I have API key from Google Cloud and I don't know how to pass it to json-autotranslate. How my config JSON file should look like?

[2022-11-07 12:55] leolabs commented on #79
Your approach sounds alright, I'll try to reproduce this issue on my side.

In the meantime, could you try to set the key location via an environment variable and see if that works? For example:

[code]

[2022-11-07 13:43] jaspisus commented on #79
Thank's for reply. It's working with both approaches, but your approach gave me new error, which helped me solve the issue on Google Cloud side

[2022-11-07 13:44] leolabs commented on #79
That's great to hear, glad it works now 👍

[2022-11-07 13:44] #79 closed

[2022-11-08 08:37] jaspisus commented on #76
I have same problem, my keys in source JSON file have periods, and json-autotranslate refuses to process it.

[2022-11-15 17:32] leolabs commented on #76
I think I found a fix for this and just pushed a new version. Let me know if this fixes the issue on your end as well :)

[2022-11-15 17:32] #76 closed